In [ ]:
understanding variables in python:

In [1]:
x=5
y=3

In [2]:
x+y

8

In [3]:
Rules for declaring varaibles in python

SyntaxError: invalid syntax (<ipython-input-3-a1e309cfaf44>, line 1)

In [ ]:
Rule 1. No name spaces while declaring the variable name.

In [4]:
first name = 'Abdul
print(first name)'

SyntaxError: invalid syntax (<ipython-input-4-c67c917bdea2>, line 1)

In [7]:
first_name = 'Abdul'
print(first_name)

Abdul

In [ ]:
2. A variable should not start with a number

In [8]:
1name = 'muqeet'
print(1name)

SyntaxError: invalid syntax (<ipython-input-8-de4404b8b142>, line 1)

In [9]:
name1 = 'muqeet'
print(name1)

muqeet

3. A variable should not start contain any special characters.

In [ ]:
like @$

In [10]:
name@=(kiran)

NameError: name 'name' is not defined

In [ ]:
Introduction to data types in python
1.string--->str
2.Numebers-->integers(int) and floats(decimals)
3.List---->list
4.tupl--->tuple
5.Dictionary---->dict

In [11]:
classification of data types
1.Mutable data type --->which we can edit or alter--->fixed
2.Immutable data type--->which we cannot edit or alter--->fixed

SyntaxError: invalid syntax (<ipython-input-11-93c42b0e9bea>, line 1)

In [ ]:
Introduction to string data types
Overview:A string is nothing but a series of character declared in quotes.
classification:it is classified as a immutable data type(fixed).

In [ ]:
How to declare the string data type
1.single quote
2.double quote
3.triple quote

In [12]:
name1= 'krishna'
print(name)

krishna

In [14]:
name2 = "priya"
print(name2)

priya

In [18]:
name3 ='"muqeet"'

print(name3)

"muqeet"

In [ ]:
Introduction to strings methods
these are nothing but built in programs and are available to use
type-->it is used to validate and know data types of the varaibles created

In [19]:
type(name)

str

In [20]:
type(name2)

str

In [21]:
type(name3)

str

In [24]:
fullname = 'santosh kumar'
print(fullname)

santosh kumar

In [ ]:
#req:to make above full name in the correct format

In [25]:
print(fullname.title())

Santosh Kumar

In [ ]:
#req:i want to make entire name in capital

In [26]:
print(fullname.upper())

SANTOSH KUMAR

In [27]:
#req:i want to make the name into small case letter 
print(fullname.lower())

santosh kumar